.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
	text-transform: lowercase;
}
.highlight {
	color: #F00078;
}
.reveal h1.large,
.reveal h2.large {
	font-size: 5em;
    line-height: 1;
}
.reveal h1.medium {
	font-size: 4em;
    line-height: 1;
}
.reveal h2.medium {
	font-size: 3em;
    line-height: 1;
}
.reveal section img {
    margin: 15px 0px;
    background: transparent;
    border-width: 0;
    box-shadow: none;
    /* background: rgba(255, 255, 255, 0.12); */
    /* border: 4px solid #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}