// Globals

html {
    font-family: $base-font-family;
}

a {
    &,
    &:hover,
    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$grid-subtracted-width: 10px; // 10px is the margins of the boxes

@media #{$small-up} {
    html {
        font-size: 70%;
    }
    .grids {
        @include grid(1, $grid-subtracted-width);
    }
}
@media #{$medium-up} {
    html {
        font-size: 70%;
    }
    .grids {
        @include grid(2, $grid-subtracted-width);
    }
}
@media #{$large-up} {
    html {
        font-size: 80%;
    }
    .grids {
        @include grid(4, $grid-subtracted-width);
    }
}

.clearfix:after {
    @include clearfix;
}