// Globals

html {
    font-family: $base-font-family;
}

$grid-subtracted-width: 2px + 10px + 30px;

@media #{$small-up} {
    html {
        font-size: 70%;
    }
    .grids {
        @include grid(1, $grid-subtracted-width); // 2px is the border and 10px is the margins
    }
}
@media #{$medium-up} {
    html {
        font-size: 70%;
    }
    .grids {
        @include grid(2, $grid-subtracted-width); // 2px is the border and 10px is the margins
    }
}
@media #{$large-up} {
    html {
        font-size: 80%;
    }
    .grids {
        @include grid(4, $grid-subtracted-width); // 2px is the border and 10px is the margins
    }
}

.clearfix:after {
    @include clearfix;
}