/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Fontello';
  src: url("/test_codes/fonts/fontello.eot");
  src: url("/test_codes/fonts/fontello.eot#iefix") format("embedded-opentype"), url("/test_codes/fonts/fontello.woff") format("woff"), url("/test_codes/fonts/fontello.ttf") format("truetype"), url("/test_codes/fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/common/_fonts.scss */
.font-icon {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.twitter:before {
  content: "\e800";
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.facebook:before {
  content: "\e801";
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.instagram:before {
  content: "\e802";
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.linkedin:before {
  content: "\e803";
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.heart:before {
  content: "\e804";
}
/* line 29, ../sass/common/_fonts.scss */
.font-icon.spinner:before {
  content: "\e805";
}

/* line 3, ../sass/common/_placeholders.scss */
.btns {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 15, ../sass/common/_placeholders.scss */
.font-icons-container li:nth-child(6):hover span {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

/* line 23, ../sass/common/_placeholders.scss */
.font-icons-container li:nth-child(1), .font-icons-container li:nth-child(1) span, .font-icons-container li:nth-child(2), .font-icons-container li:nth-child(2) span, .font-icons-container li:nth-child(3), .font-icons-container li:nth-child(3) span, .font-icons-container li:nth-child(4), .font-icons-container li:nth-child(4) span, .font-icons-container li:nth-child(5), .font-icons-container li:nth-child(5) span, .font-icons-container li:nth-child(6), .font-icons-container li:nth-child(6) span {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 27, ../sass/common/_placeholders.scss */
.font-icons-container li:nth-child(1):hover span, .font-icons-container li:nth-child(2):hover span, .font-icons-container li:nth-child(3):hover span, .font-icons-container li:nth-child(4):hover span, .font-icons-container li:nth-child(5):hover span {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 3, ../sass/partials/_global.scss */
html {
  font-family: Arial, Serif;
}

/* line 9, ../sass/partials/_global.scss */
a {
  text-decoration: none;
  outline: none;
}

@media only screen {
  /* line 15, ../sass/partials/_global.scss */
  html {
    font-size: 70%;
  }

  /* line 18, ../sass/partials/_global.scss */
  .grids {
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  /* line 23, ../sass/partials/_global.scss */
  html {
    font-size: 70%;
  }

  /* line 26, ../sass/partials/_global.scss */
  .grids {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    float: left;
  }
}
@media only screen and (min-width: 992px) {
  /* line 31, ../sass/partials/_global.scss */
  html {
    font-size: 80%;
  }

  /* line 34, ../sass/partials/_global.scss */
  .grids {
    width: -webkit-calc(25% - 10px);
    width: -moz-calc(25% - 10px);
    width: calc(25% - 10px);
    float: left;
  }
}
/* line 39, ../sass/partials/_global.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 15, ../sass/components/_buttons.scss */
.btn-primary {
  background-color: #F60000;
  -moz-box-shadow: 3px 4px 0px 0px rgba(246, 0, 0, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(246, 0, 0, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(246, 0, 0, 0.6);
}
/* line 18, ../sass/components/_buttons.scss */
.btn-primary:hover {
  background-color: #ff4444;
  -moz-box-shadow: 3px 4px 0px 0px rgba(255, 68, 68, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(255, 68, 68, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(255, 68, 68, 0.6);
}

/* line 15, ../sass/components/_buttons.scss */
.btn-secondary {
  background-color: #0C00F5;
  -moz-box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
}
/* line 18, ../sass/components/_buttons.scss */
.btn-secondary:hover {
  background-color: #4c43ff;
  -moz-box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
}

/* line 15, ../sass/components/_buttons.scss */
.btn-tertiary {
  background-color: #12BE00;
  -moz-box-shadow: 3px 4px 0px 0px rgba(18, 190, 0, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(18, 190, 0, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(18, 190, 0, 0.6);
}
/* line 18, ../sass/components/_buttons.scss */
.btn-tertiary:hover {
  background-color: #23ff0c;
  -moz-box-shadow: 3px 4px 0px 0px rgba(35, 255, 12, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(35, 255, 12, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(35, 255, 12, 0.6);
}

/* line 4, ../sass/components/_forms.scss */
form .form-group {
  margin: 10px 0;
}
/* line 6, ../sass/components/_forms.scss */
form .form-group input[type="submit"] {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #0C00F5;
  -moz-box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(12, 0, 245, 0.6);
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
}
/* line 14, ../sass/components/_forms.scss */
form .form-group input[type="submit"]:hover {
  background-color: #4c43ff;
  -moz-box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
  -webkit-box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
  box-shadow: 3px 4px 0px 0px rgba(76, 67, 255, 0.6);
}
/* line 20, ../sass/components/_forms.scss */
form .form-label,
form .form-input {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 23, ../sass/components/_forms.scss */
form .form-label input,
form .form-input input {
  padding: 5px;
  outline: none;
}
/* line 26, ../sass/components/_forms.scss */
form .form-label input::-webkit-input-placeholder,
form .form-input input::-webkit-input-placeholder {
  color: #0C00F5;
}
/* line 29, ../sass/components/_forms.scss */
form .form-label input:-moz-placeholder,
form .form-input input:-moz-placeholder {
  /* Firefox 18- */
  color: #0C00F5;
}
/* line 32, ../sass/components/_forms.scss */
form .form-label input::-moz-placeholder,
form .form-input input::-moz-placeholder {
  /* Firefox 19+ */
  color: #0C00F5;
}
/* line 35, ../sass/components/_forms.scss */
form .form-label input:-ms-input-placeholder,
form .form-input input:-ms-input-placeholder {
  color: #0C00F5;
}
/* line 40, ../sass/components/_forms.scss */
form .form-label {
  min-width: 150px;
  font-weight: 700;
  font-size: 1.2rem;
}

/* line 120, emoticons/*.png */
.emoticons-sprite, .sprite-love, .sprite-happy, .sprite-neutral, .sprite-sad, .sprite-angry {
  background-image: url('/test_codes/images/emoticons-scd849d3d73.png');
  background-repeat: no-repeat;
}

/* line 8, ../sass/components/_sprites.scss */
.sprite-love {
  background-position: 0 -320px;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-love:hover, .sprite-love.love-hover {
  background-position: 0 -400px;
}

/* line 8, ../sass/components/_sprites.scss */
.sprite-happy {
  background-position: 0 -160px;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-happy:hover, .sprite-happy.happy-hover {
  background-position: 0 -240px;
}

/* line 8, ../sass/components/_sprites.scss */
.sprite-neutral {
  background-position: 0 -480px;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-neutral:hover, .sprite-neutral.neutral-hover {
  background-position: 0 -560px;
}

/* line 8, ../sass/components/_sprites.scss */
.sprite-sad {
  background-position: 0 -640px;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-sad:hover, .sprite-sad.sad-hover {
  background-position: 0 -720px;
}

/* line 8, ../sass/components/_sprites.scss */
.sprite-angry {
  background-position: 0 0;
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}
/* line 59, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-angry:hover, .sprite-angry.angry-hover {
  background-position: 0 -80px;
}

/* line 3, ../sass/partials/_header.scss */
header {
  padding: 20px;
  border: 1px solid #F60000;
  background-color: #ffdddd;
}
/* line 7, ../sass/partials/_header.scss */
header h1 {
  font-size: 3.4rem;
}
/* line 10, ../sass/partials/_header.scss */
header .tagline {
  font-size: 1.2rem;
  border-top: 1px solid #000;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 3, ../sass/partials/_footer.scss */
footer {
  border: 1px solid #0C00F5;
  background-color: #dddcff;
  padding: 20px;
}

/* line 3, ../sass/views/_home.scss */
.btns-container {
  padding: 20px;
}
/* line 5, ../sass/views/_home.scss */
.btns-container a {
  margin: 5px 5px;
}
/* line 7, ../sass/views/_home.scss */
.btns-container a:hover {
  text-decoration: none;
  color: #fff;
}
/* line 11, ../sass/views/_home.scss */
.btns-container a:last-child {
  margin-right: 0;
}
/* line 15, ../sass/views/_home.scss */
.btns-container p {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

/* line 25, ../sass/views/_home.scss */
.box-grid-container {
  border: 5px solid #0C00F5;
  padding: 20px;
}
/* line 28, ../sass/views/_home.scss */
.box-grid-container .grids {
  height: 100px;
  border: 1px solid #F60000;
  margin: 5px 5px;
  padding: 15px;
  font-size: 2rem;
  font-weight: 700;
}

/* line 40, ../sass/views/_home.scss */
.form-container {
  padding: 20px;
  border: 5px solid #12BE00;
}

/* line 45, ../sass/views/_home.scss */
.sprite-container {
  border: 5px solid #F60000;
  padding: 20px;
}
/* line 48, ../sass/views/_home.scss */
.sprite-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 55, ../sass/views/_home.scss */
.sprite-container ul {
  list-style: none;
}
/* line 57, ../sass/views/_home.scss */
.sprite-container ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
}

/* line 63, ../sass/views/_home.scss */
.font-icons-container {
  border: 5px solid #0C00F5;
  padding: 20px;
}
/* line 66, ../sass/views/_home.scss */
.font-icons-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 73, ../sass/views/_home.scss */
.font-icons-container ul {
  list-style: none;
}
/* line 79, ../sass/views/_home.scss */
.font-icons-container li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
  width: 60px;
  height: 60px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100%;
  border-radius: 100% 100% 100% 100%;
  border-radius: 100%;
}
/* line 87, ../sass/views/_home.scss */
.font-icons-container li span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  *zoom: 1;
  *display: inline;
  font-size: 2.5rem;
  line-height: 1.9;
}
/* line 93, ../sass/views/_home.scss */
.font-icons-container li:nth-child(1) {
  border-color: #31ABF6;
}
/* line 96, ../sass/views/_home.scss */
.font-icons-container li:nth-child(1) span {
  color: #31ABF6;
}
/* line 100, ../sass/views/_home.scss */
.font-icons-container li:nth-child(1):hover {
  background-color: #31ABF6;
}
/* line 102, ../sass/views/_home.scss */
.font-icons-container li:nth-child(1):hover span {
  color: #fff;
}
/* line 108, ../sass/views/_home.scss */
.font-icons-container li:nth-child(2) {
  border-color: #4867AA;
}
/* line 111, ../sass/views/_home.scss */
.font-icons-container li:nth-child(2) span {
  color: #4867AA;
}
/* line 115, ../sass/views/_home.scss */
.font-icons-container li:nth-child(2):hover {
  background-color: #4867AA;
}
/* line 117, ../sass/views/_home.scss */
.font-icons-container li:nth-child(2):hover span {
  color: #fff;
}
/* line 123, ../sass/views/_home.scss */
.font-icons-container li:nth-child(3) {
  border-color: #e1306c;
}
/* line 126, ../sass/views/_home.scss */
.font-icons-container li:nth-child(3) span {
  color: #e1306c;
}
/* line 130, ../sass/views/_home.scss */
.font-icons-container li:nth-child(3):hover {
  background-color: #e1306c;
}
/* line 132, ../sass/views/_home.scss */
.font-icons-container li:nth-child(3):hover span {
  color: #fff;
}
/* line 138, ../sass/views/_home.scss */
.font-icons-container li:nth-child(4) {
  border-color: #0077B5;
}
/* line 141, ../sass/views/_home.scss */
.font-icons-container li:nth-child(4) span {
  color: #0077B5;
}
/* line 145, ../sass/views/_home.scss */
.font-icons-container li:nth-child(4):hover {
  background-color: #0077B5;
}
/* line 147, ../sass/views/_home.scss */
.font-icons-container li:nth-child(4):hover span {
  color: #fff;
}
/* line 153, ../sass/views/_home.scss */
.font-icons-container li:nth-child(5) {
  border-color: #fc636b;
}
/* line 156, ../sass/views/_home.scss */
.font-icons-container li:nth-child(5) span {
  color: #fc636b;
}
/* line 160, ../sass/views/_home.scss */
.font-icons-container li:nth-child(5):hover {
  background-color: #fc636b;
}
/* line 162, ../sass/views/_home.scss */
.font-icons-container li:nth-child(5):hover span {
  color: #fff;
}
/* line 168, ../sass/views/_home.scss */
.font-icons-container li:nth-child(6) {
  border-color: #9B9B9B;
}
/* line 171, ../sass/views/_home.scss */
.font-icons-container li:nth-child(6) span {
  color: #9B9B9B;
}
/* line 175, ../sass/views/_home.scss */
.font-icons-container li:nth-child(6):hover {
  background-color: #9B9B9B;
}
/* line 177, ../sass/views/_home.scss */
.font-icons-container li:nth-child(6):hover span {
  color: #fff;
}

/* line 186, ../sass/views/_home.scss */
.bootstrap-container {
  border: 5px solid #0C00F5;
  padding: 20px;
}
/* line 189, ../sass/views/_home.scss */
.bootstrap-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 196, ../sass/views/_home.scss */
.bootstrap-container .row > div {
  background-color: #C4C4C4;
  text-align: center;
  border: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}
